div{
    display:flex;
    gap: 40px;
   padding: 20px;
   margin: 70px 0 10px;
}



#div1{
    border: solid rgb(228, 125, 7) 2px;
    width: 300px;
    height: 300px;
    border-width: 50px 0px 50px 0px ;
    border-radius: 20px;

    
}
#div2{
    border: solid rgb(16, 230, 27) 2px;
    width: 300px;
    height: 300px;
    
    border-width: 50px 0px 50px 0px ;
    border-radius: 20px;}
    #div3{
    border: solid rgb(19, 33, 223) 2px;
    width: 300px;
    height: 300px;
    
    border-width: 50px 0px 50px 0px ;
    border-radius: 20px;}
 #div4{
    border: solid rgb(206, 6, 189) 2px;
    width: 300px;
    height: 300px;
    ;
    border-width: 50px 0px 50px 0px ;
    border-radius: 20px;}
    h1{
        color: rgb(228, 125, 7);
        display: contents;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
        
        
    }
    p{
        text-align: center;
       display: contents;
       font-size: large;
       text-align: center;
       line-height: 24px;
       font-style: italic;
    }
    
    #hd2{ color: rgb(16, 230, 27) ;
      font-style: italic;  
    }
    #hd3{
        color: rgb(19, 33, 223) ;
       font-style: italic;
    }
    #hd4{  color:rgb(206, 6, 189);
        font-style: italic;
        
    }


